In [278]:
# Importando as blibliotecas;

import pandas as pd
from datetime import timedelta

In [279]:
# Importando o arquivo excel;

dataset = pd.read_excel('Dados/Base_Horas.xlsx')
dataset.head()

   Unnamed: 0         Dia Hora_Entrada Hora_Fim
0           0  16/06/2023        07:00    14:00
1           1  13/02/2023        08:00    15:00
2           2  14/02/2023        08:00    15:00
3           3  15/02/2023        08:00    15:00
4           4  16/02/2023        08:00    15:00

In [280]:
# Visualizando os tipos de dados inicias;

dataset.dtypes

Unnamed: 0       int64
Dia             object
Hora_Entrada    object
Hora_Fim        object
dtype: object

In [281]:
# Alterando os tipos de dados para datetime;

dataset['Dia'] = pd.to_datetime(dataset['Dia'], dayfirst = True)

dataset['Hora_Entrada'] = dataset['Hora_Entrada'] + ':00'
dataset['Hora_Entrada'] = pd.to_timedelta(dataset['Hora_Entrada'])
dataset['Hora_Entrada'] = pd.to_datetime(dataset['Dia'] + dataset['Hora_Entrada'])

dataset['Hora_Fim'] = dataset['Hora_Fim'] + ':00'
dataset['Hora_Fim'] = pd.to_timedelta(dataset['Hora_Fim'])
dataset['Hora_Fim'] = pd.to_datetime(dataset['Dia'] + dataset['Hora_Fim'])

In [282]:
# Visualizando os tipos de dados após alterações;
dataset.dtypes

Unnamed: 0               int64
Dia             datetime64[ns]
Hora_Entrada    datetime64[ns]
Hora_Fim        datetime64[ns]
dtype: object

In [283]:
dataset.head()

   Unnamed: 0        Dia        Hora_Entrada            Hora_Fim
0           0 2023-06-16 2023-06-16 07:00:00 2023-06-16 14:00:00
1           1 2023-02-13 2023-02-13 08:00:00 2023-02-13 15:00:00
2           2 2023-02-14 2023-02-14 08:00:00 2023-02-14 15:00:00
3           3 2023-02-15 2023-02-15 08:00:00 2023-02-15 15:00:00
4           4 2023-02-16 2023-02-16 08:00:00 2023-02-16 15:00:00

In [284]:
lunch_time = 1

dataset['Horas_Trabalhadas'] = (dataset['Hora_Fim'] - dataset['Hora_Entrada']) - timedelta(hours = lunch_time)

dataset['Horas_Trabalhadas'] = dataset['Horas_Trabalhadas'] = pd.to_datetime(dataset['Dia'] + dataset['Horas_Trabalhadas'])

dataset.head()

,Unnamed: 0,Dia,Hora_Entrada,Hora_Fim,Horas_Trabalhadas
0,0,2023-06-16,2023-06-16 07:00:00,2023-06-16 14:00:00,2023-06-16 06:00:00
1,1,2023-02-13,2023-02-13 08:00:00,2023-02-13 15:00:00,2023-02-13 06:00:00
2,2,2023-02-14,2023-02-14 08:00:00,2023-02-14 15:00:00,2023-02-14 06:00:00
3,3,2023-02-15,2023-02-15 08:00:00,2023-02-15 15:00:00,2023-02-15 06:00:00
4,4,2023-02-16,2023-02-16 08:00:00,2023-02-16 15:00:00,2023-02-16 06:00:00

In [285]:
# Retirando as colunas que não são necessárias no Dataframe

dataset.drop(['Unnamed: 0'], inplace = True, axis = 1)

In [286]:
# Formatando a tabela para visualização final

dataset['Hora_Entrada'] = dataset['Hora_Entrada'].dt.strftime('%H:%M')
dataset['Hora_Fim'] = dataset['Hora_Fim'].dt.strftime('%H:%M')
dataset['Horas_Trabalhadas'] = dataset['Horas_Trabalhadas'].dt.strftime('%H:%M')

dataset = dataset.sort_values(by = 'Dia')

dataset.head()

         Dia Hora_Entrada Hora_Fim Horas_Trabalhadas
1 2023-02-13        08:00    15:00             06:00
2 2023-02-14        08:00    15:00             06:00
3 2023-02-15        08:00    15:00             06:00
4 2023-02-16        08:00    15:00             06:00
5 2023-02-17        08:00    15:00             06:00

In [287]:
dataset.to_excel('Dados/Base_Horas_Formatada.xlsx')